
<h1 class="display-1 text-center">
  {{cfg.get.title}}
  <small class="text-muted">{{cfg.get.subtitle}}</small>
</h1>

<mat-divider></mat-divider>

<div class="container">

    <!-- Input -->
  <div class="row">
    <div class="col"><!-- left empty col --></div>
    <div class="col-10">

      <h3>Input
        <small class="text-muted">{{inputComponent.selectedOntology}}</small>
      </h3>

      <!-- // select ontology -->
      <mat-form-field  *ngIf="cfg.info"  appearance="fill">
        <mat-label>Select an ontology</mat-label>
        <mat-select [(ngModel)]="inputComponent.selectedOntology" name="onto">
          <mat-option
           *ngFor="let onto of cfg.info.ontology" [value]="onto.name">
            {{onto.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--  // select input file-->
      <mat-form-field class="columns">
          <mat-label *ngIf="inputComponent.examplesFile; else newFile">{{inputComponent.examplesFileName}}</mat-label>
          <ng-template #newFile>
              <mat-label>Choose a file with examples</mat-label>
          </ng-template>
          <input matInput disabled>
          <button mat-icon-button matSuffix (click)="fileInput.click()">
              <mat-icon aria-hidden="false">attach_file</mat-icon>
          </button>
          <input hidden #fileInput type="file" id="file"
            (change)="inputComponent.onFileSelected($event)"
            [accept]="inputComponent.requiredFileType">
          <button mat-icon-button matSuffix (click)="inputComponent.reset()">
              <mat-icon aria-hidden="false">cancel</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="inputComponent.fileUpload()">
              <mat-icon aria-hidden="false">upload</mat-icon>
          </button>
      </mat-form-field>

      <textarea matInput [(ngModel)]="inputComponent.inputData" [ngModelOptions]="{standalone: true}" class="form-control input fixsize" placeholder="Waiting..."> </textarea>

      <div class="progress" *ngIf="inputComponent.uploadProgress">
        <mat-progress-bar class="progress-bar" mode="determinate"
                          [value]="inputComponent.uploadProgress"></mat-progress-bar>
        <mat-icon class="cancel-upload" (click)="inputComponent.cancelUpload()"
                  *ngIf="inputComponent.uploadProgress">delete_forever</mat-icon>
      </div>

      <button mat-icon-button matSuffix (click)="inputComponent.fileSend()">
          <mat-icon aria-hidden="false">send</mat-icon>
      </button>

    </div>
    <div class="col"><!-- right empty col --> </div>
  </div>

  <!-- log infos via alerts -->
  <div *ngIf="inputComponent.log.lastInfo" class="alert alert-success" role="alert">
    {{inputComponent.log.lastInfo}}
  </div>
  <div *ngIf="inputComponent.log.lastError" class="alert alert-danger" role="alert">
    {{inputComponent.log.lastError}}
  </div>
  <div *ngIf="inputComponent.log.lastWarn" class="alert alert-warning" role="alert">
    {{inputComponent.log.lastWarn}}
  </div>

  <mat-divider></mat-divider>

  <!-- Verbalization -->
  <div class="row">
    <div class="col"><!-- left empty col --></div>
    <div class="col-10">

      <h3>Verbalization</h3>

      <pre [innerHTML]="inputComponent.responseData | prettyjson" *ngIf="inputComponent.responseData" class="fixsize"> </pre>

    </div>
    <div class="col"><!-- right empty col --></div>
  </div>

  <mat-divider></mat-divider>

  <feedback-component (feedbackEvent)="inputComponent.setFeedback($event)"></feedback-component>

  <mat-divider></mat-divider>
</div><!-- container -->
