
<div class="heading">{{title}}</div>

<mat-divider></mat-divider>
<!--  -->
<!--  -->
<h3>input {{inputComponent.selectedOntology}}</h3>
<!-- // select ontology -->
<mat-form-field appearance="fill">
  <mat-label>Select a ontology</mat-label>
  <mat-select [(ngModel)]="inputComponent.selectedOntology" name="onto">
    <mat-option *ngFor="let onto of ontology" [value]="onto.path">
      {{onto.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<!--  // select input file-->
<mat-form-field class="columns">
    <mat-label *ngIf="inputComponent.file; else newFile">{{inputComponent.fileName}}</mat-label>
    <ng-template #newFile>
        <mat-label>Choose a file with axioms</mat-label>
    </ng-template>
    <input matInput disabled>
    <button mat-icon-button matSuffix (click)="fileInput.click()">
        <mat-icon aria-hidden="false">attach_file</mat-icon>
    </button>
    <input hidden #fileInput type="file" id="file"
      (change)="inputComponent.onFileSelected($event)"
      [accept]="inputComponent.requiredFileType">
    <button mat-icon-button matSuffix (click)="inputComponent.reset()">
        <mat-icon aria-hidden="false">cancel</mat-icon>
    </button>
    <button mat-icon-button matSuffix (click)="inputComponent.fileUpload()">
        <mat-icon aria-hidden="false">send</mat-icon>
    </button>
</mat-form-field>

<div class="progress">
  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="inputComponent.uploadProgress" *ngIf="inputComponent.uploadProgress">
  </mat-progress-bar>
  <mat-icon class="cancel-upload" (click)="inputComponent.cancelUpload()"
            *ngIf="inputComponent.uploadProgress">delete_forever</mat-icon>
</div>
<!-- -->

<!-- -->
<!--  // verbalization -->
<mat-divider></mat-divider>
<h3>verbalization</h3>

<textarea [value]="inputComponent.responseData | json" class="form-control output" disabled="true" placeholder="Waiting...">
</textarea>
<!-- -->
<!--  // feedbackForm -->
<mat-divider></mat-divider>
<h3>feedback</h3>
<form [formGroup]="feedbackForm" class="form">
  <div class="form-group">
    <textarea matInput [(ngModel)]="feedbackComponent.inputData" [ngModelOptions]="{standalone: true}" class="form-control input" placeholder="Waiting...">
    </textarea>
  </div>
  <button mat-icon-button matSuffix (click)="feedbackComponent.submit()">
      <mat-icon aria-hidden="false">send</mat-icon>
  </button>
</form>
