/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
  background-color: #165b12;
  color:#fff;
}
pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  color: black;

}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: black; }

textarea {
  padding: 5px;
  margin: 5px;
}

textarea.mat-input-element {
  background-color: #fff;
  color: black;
}

.fixsize{
  resize: none;
  height: 300px;
}
